@charset "UTF-8";
* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
  font-family: "Cardo", serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
}

main {
  width: 100%;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  min-height: 100vh;
}

h1 {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 4rem;
  font-style: normal;
  line-height: 71px;
}

h2 {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1.375rem;
  font-style: normal;
  line-height: 33px;
}

h3 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 0.875rem;
  font-style: normal;
  line-height: normal;
}

h4 {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 0.8125rem;
  font-style: normal;
  line-height: normal;
}

p {
  font-family: "Raleway";
  font-weight: 400;
  font-style: normal;
  font-size: 0.8745rem;
  line-height: 21px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.button {
  display: block;
  background-color: #e84545;
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: center;
  text-transform: uppercase;
  line-height: 21px;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 0.8125rem;
  color: #ffffff;
  border-radius: 2px;
}

.social-icons {
  display: flex;
}

.social-icon {
  width: 8px;
  height: 18px;
}

.masthead {
  min-height: 100vh;
  background: url("/img/Masthead/MastheadBG.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.header__container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff30;
}

.logo {
  justify-content: center;
  align-items: center;
}

.logo__img {
  padding: 38px 0;
}

.navigation__menu {
  margin: 0 -15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 45px 0;
}

.navigation__menu-item {
  margin: 0 15px;
  padding: 0 15px;
}

.navigation__menu-link {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 13px;
  font-style: normal;
  opacity: 0.75;
  color: #ffffff;
  text-align: left;
  text-transform: uppercase;
  transition: linear 1s;
}

.navigation__menu-link:hover {
  opacity: 1;
  transform: skew(1.2);
}

/* Гамбургер-меню  */
.masthead-content {
  align-self: center;
  justify-content: center;
  margin: auto;
}

.masthead__title {
  color: #ffffff;
  text-transform: uppercase;
  max-width: 861px;
  text-align: center;
  margin: 0 auto;
}

.masthead__subtitle {
  max-width: 912px;
  color: #ffffff;
  text-align: center;
  margin: 40px auto;
}

.masthead__button {
  max-width: 200px;
  margin: 37px auto;
}

.features__card-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 47px -15px 124px -15px;
}

.features__card {
  max-width: 296px;
  margin: 74px 15px 0 15px;
}

.features__img {
  text-align: center;
  margin: 0 auto;
}

.fearures__card-titile {
  text-align: center;
  margin: 34px auto 25px auto;
  color: #2d3033;
  text-transform: uppercase;
}

.features__card-description {
  color: #6c7279;
  text-align: center;
}

.works {
  width: 100%;
}

.projects-static {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.project__picture {
  display: flex;
  flex-direction: column;
  width: 25%;
  overflow: hidden;
  border: 1px solid #ffffff;
  position: relative;
}

.project__picture-img {
  display: block;
  width: 100%;
}

.project__picture-blackout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(232, 69, 69, 0.9);
  opacity: 0;
  text-align: center;
  transition: all 1s linear;
}

.project__picture-blackout:hover {
  opacity: 1;
}

.project__picture-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.project__picture-title {
  color: #ffffff;
  text-transform: uppercase;
}

.project__picture-subtitle {
  color: #ffffff;
}

.project-sliders {
  display: none;
}

.staff__table {
  display: flex;
  margin: 0 -15px;
  padding-top: 100px;
  justify-content: space-between;
}

.staff__card {
  margin: 0 15px;
}

.staff__picture {
  width: 270px;
  height: 270px;
}

.staff__picture-image {
  display: block;
  margin: 0 auto;
}

.staff__information {
  text-align: left;
}

.staff__name {
  color: #2d3033;
  padding: 30px 0 16px;
}

.staff__position {
  text-transform: uppercase;
  color: #e84545;
  padding-bottom: 29px;
}

.staff__about {
  color: #6c7279;
}

.staff__social-icons {
  margin-top: 31px;
}

.staff__social-icons-item {
  width: 40px;
  height: 40px;
  border: 1px solid #e8ecee;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.staff__social-icon {
  color: lightgrey;
}