* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
  font-family: "Cardo", serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
}

main {
  width: 100%;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  min-height: 100vh;
}

h1 {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 4rem;
  font-style: normal;
  line-height: 71px;
}

@media (max-width: 410px) {
  h1 {
    font-size: 3rem;
  }
}
h2 {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1.375rem;
  font-style: normal;
  line-height: 33px;
}

@media (max-width: 410px) {
  h2 {
    font-size: 1rem;
  }
}
h3 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 0.875rem;
  font-style: normal;
  line-height: normal;
}

@media (max-width: 410px) {
  h3 {
    font-size: 0.8125rem;
  }
}
h4 {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 0.8125rem;
  font-style: normal;
  line-height: normal;
}

p {
  font-family: "Raleway";
  font-weight: 400;
  font-style: normal;
  font-size: 0.8745rem;
  line-height: 21px;
}

@media (max-width: 410px) {
  p {
    font-size: 0.8125rem;
  }
}
a {
  text-decoration: none;
  cursor: pointer;
}

.button {
  display: block;
  background-color: #e84545;
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: center;
  text-transform: uppercase;
  line-height: 21px;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 0.8125rem;
  color: #ffffff;
  border-radius: 2px;
}

.social-icons {
  display: flex;
}

.social-icon {
  width: 8px;
  height: 18px;
}

.masthead {
  min-height: 100vh;
  background: url("/img/Masthead/MastheadBG.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  width: 100%;
}

.header__container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff30;
  position: relative;
  z-index: 2;
}

@media (max-width: 767px) {
  .header__container {
    justify-content: center;
    flex-direction: column;
  }
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__img {
  padding: 38px 0;
}

@media (max-width: 514px) {
  .navigation {
    display: none;
  }
}
.navigation__menu {
  margin: 0 -15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 45px 0;
}

@media (max-width: 767px) {
  .navigation__menu {
    align-self: center;
    justify-content: space-between;
    padding: 15px 0;
  }
}
.navigation__menu-item {
  list-style: none;
  margin: 0 15px;
  padding: 0 15px;
}

@media (max-width: 868px) {
  .navigation__menu-item {
    padding: 0 5px;
  }
}
.navigation__menu-link {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 13px;
  font-style: normal;
  opacity: 0.75;
  color: #ffffff;
  text-align: left;
  text-transform: uppercase;
  transition: linear 1s;
}

.navigation__menu-link:hover {
  opacity: 1;
}

.masthead-content {
  align-self: center;
  justify-content: center;
  margin: auto;
}

.masthead__title {
  color: #ffffff;
  text-transform: uppercase;
  max-width: 861px;
  text-align: center;
  margin: 0 auto;
}

.masthead__subtitle {
  max-width: 912px;
  color: #ffffff;
  text-align: center;
  margin: 40px auto;
}

.masthead__button {
  max-width: 200px;
  margin: 37px auto;
}

@media (max-width: 410px) {
  .masthead__button {
    max-width: 90%;
  }
}
.masthead__button:hover {
  animation: blink 2s 0.5s infinite alternate;
}

@keyframes blink {
  from {
    background-color: #e84545;
    color: #ffffff;
  }
  to {
    background-color: #ffffff;
    color: #e84545;
  }
}
.features {
  width: 100%;
}

.features__card-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 47px -15px 124px -15px;
}

.features__card {
  max-width: 296px;
  margin: 74px 15px 0 15px;
}

.features__img {
  text-align: center;
  margin: 0 auto;
}

.fearures__card-titile {
  text-align: center;
  margin: 34px auto 25px auto;
  color: #2d3033;
  text-transform: uppercase;
}

.features__card-description {
  color: #6c7279;
  text-align: center;
}

.works {
  width: 100%;
}

.projects-static {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

@media (max-width: 810px) {
  .projects-static {
    display: none;
  }
}
.project__picture {
  display: flex;
  flex-direction: column;
  width: 25%;
  overflow: hidden;
  border: 1px solid #ffffff;
  position: relative;
}

@media (max-width: 810px) {
  .project__picture {
    width: 100%;
  }
}
.project__picture-img {
  display: block;
  width: 100%;
}

.project__picture-blackout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(232, 69, 69, 0.9);
  opacity: 0;
  text-align: center;
  transition: all 1s linear;
}

.project__picture-blackout:hover {
  opacity: 1;
}

.project__picture-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.project__picture-title {
  color: #ffffff;
  text-transform: uppercase;
}

.project__picture-subtitle {
  color: #ffffff;
}

.project__slider {
  display: none;
  position: relative;
}

@media (max-width: 810px) {
  .project__slider {
    display: block;
  }
}
.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.project__slider .slick-dots {
  display: flex;
  justify-content: space-around;
}

.project__slider .slick-dots li {
  list-style: none;
  margin: 0 8px;
}

.project__slider .slick-dots button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background-color: #000000;
  border-radius: 50%;
  border: 1px solid #000000;
  opacity: 0.5;
}

.team {
  width: 100%;
}

.staff__table {
  display: flex;
  flex-direction: row;
  padding-top: 100px;
  justify-content: space-around;
  flex-wrap: nowrap;
}

@media (max-width: 1170px) {
  .staff__table {
    display: none;
  }

  .staff__slider {
    display: block;
  }
}
.staff__card {
  margin: 0 15px;
}

.staff__picture {
  width: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.staff__picture-image {
  display: block;
  width: 100%;
}

.staff__information {
  text-align: left;
  max-width: 265px;
}

@media (max-width: 1170px) {
  .staff__information {
    text-align: center;
  }
}
.staff__name {
  color: #2d3033;
  padding: 30px 0 16px;
}

.staff__position {
  text-transform: uppercase;
  color: #e84545;
  padding-bottom: 29px;
}

.staff__about {
  color: #6c7279;
}

.staff__social-icons {
  margin-top: 31px;
  padding-inline-start: 0px;
  padding-bottom: 101px;
}

@media (max-width: 1170px) {
  .staff__social-icons {
    padding-inline-start: 60px;
  }
}
.staff__social-icons-item {
  width: 40px;
  height: 40px;
  border: 1px solid #e8ecee;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  margin: 0 4px;
}

.staff__social-icon {
  color: lightgrey;
}

.staff__social-icon:hover {
  transition-property: color;
  color: grey;
  transform: scale(1.2);
}

.staff__social-icon:visited {
  transition-property: color;
  columns: #000000;
}

.staff__social-icon .fa-facebook-f {
  padding: 0 16px;
}

.staff__social-icon .fa-twitter {
  padding: 0 10px;
}

.staff__social-icon .fa-linkedin {
  padding: 0 12px;
}

.staff__slider {
  position: relative;
  padding-top: 100px;
}

@media (min-width: 1171px) {
  .staff__slider {
    display: none;
  }
}
.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.staff__slider-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.staff__slider .slick-dots li {
  list-style: none;
  margin: 0 8px;
}

.staff__slider .slick-dots {
  display: flex;
  position: absolute;
  top: 95px;
  left: calc(50% - 50px);
}

.staff__slider .slick-dots button {
  font-size: 0px;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #000000;
  opacity: 0.5;
}

.staff__slider .slick-dots button:focus {
  opacity: 1;
}

.clients {
  width: 100%;
}

.testimonial {
  width: 100%;
  display: flex;
}

@media (max-width: 810px) {
  .testimonial {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.clients__picture {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

@media (max-width: 810px) {
  .clients__picture {
    width: 100%;
  }
}
.clients__picture-img {
  display: block;
  width: 100%;
  height: 100%;
}

.testimonial__text {
  display: flex;
  flex-direction: column;
  background-color: #53354a;
  width: 50%;
}

@media (max-width: 810px) {
  .testimonial__text {
    width: 100%;
    text-align: center;
  }
}
.testimonial__text-text {
  max-width: 500px;
  font-family: "Cardo";
  font-size: 36px;
  font-style: italic;
  line-height: 42px;
  color: #ffffff;
  margin: 80px 0px 30px 85px;
}

@media (max-width: 1400px) {
  .testimonial__text-text {
    font-size: 32px;
    margin: 40px 0px 10px 20px;
  }
}
@media (max-width: 955px) {
  .testimonial__text-text {
    font-size: 26px;
    margin: 20px 0px 10px 20px;
  }
}
@media (max-width: 810px) {
  .testimonial__text-text {
    font-size: 20px;
    margin: 20px auto;
  }
}
.testimonial__text-client-name {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 85px;
}

@media (max-width: 1400px) {
  .testimonial__text-client-name {
    margin-left: 20px;
  }
}
@media (max-width: 810px) {
  .testimonial__text-client-name {
    margin-bottom: 40px;
  }
}
.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.clients__slider {
  position: relative;
  padding-bottom: 100px;
}

.clients__slider .slick-dots {
  display: flex;
  position: absolute;
  bottom: 35%;
  left: calc(50% + 185px);
}

@media (max-width: 1170px) {
  .clients__slider .slick-dots {
    bottom: 35%;
  }
}
@media (max-width: 810px) {
  .clients__slider .slick-dots {
    position: absolute;
    left: calc(50% - 70px);
    bottom: calc(100px + 2%);
  }
}
.clients__slider .slick-dots li {
  list-style: none;
  margin: 0 8px;
}

.clients__slider .slick-dots button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #ffffff;
  opacity: 0.2;
}

.clients__slider .slick-dots .slick-active button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #ffffff;
  opacity: 0.8;
}

.diwnload {
  width: 100%;
}

.download__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.download__title {
  color: #2d3033;
  font-size: 28px;
  font-weight: 300;
  line-height: 21px;
  margin-top: 5px;
}

@media (max-width: 652px) {
  .download__title {
    line-height: 28px;
  }
}
.download__subtitle {
  color: #2d3033;
  font-weight: 700;
  margin: 16px auto;
}

.download__button {
  width: 280px;
  margin: 24px auto;
}

.download__button:hover {
  animation: blink 2s 0.5s infinite alternate;
}

@keyframes blink {
  from {
    background-color: #e84545;
    color: #ffffff;
  }
  to {
    background-color: #ffffff;
    color: #e84545;
  }
}
@font-face {
  font-family: "Webdings";
  src: url("/fonts/webdings.ttf");
}
.footer {
  width: 100%;
}

.about {
  width: 100%;
  background-color: #3a3e64;
  padding: 71px 0 88px 0;
  margin-top: 76px;
}

@media (max-width: 640px) {
  .about {
    padding: 30px 0 30px 0;
  }
}
.information-container {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
}

@media (max-width: 640px) {
  .information-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.location {
  max-width: 150px;
  text-align: center;
  margin: 0 15px;
}

.location__title {
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 22px;
}

@media (max-width: 640px) {
  .location__title {
    padding-bottom: 11px;
  }
}
.location__info {
  color: #ffffff50;
  line-height: 22.5px;
}

.social {
  text-align: center;
  margin: 0 15px;
}

@media (max-width: 640px) {
  .social {
    margin-top: 35px;
  }
}
.social__title {
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 21px;
}

@media (max-width: 640px) {
  .social__title {
    padding-bottom: 11px;
  }
}
.footer__social-icons {
  padding-inline-start: 0px;
}

.footer__social-icons-item {
  border: 2px solid #ffffff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  margin: 0 3.5px;
  text-align: center;
}

.footer__social-icon {
  color: #ffffff;
  transition-property: all linear 0.5s;
}

.footer__social-icon:hover {
  transform: scaleY(1.5);
}

.footer__social-icon .fa-facebook-f {
  padding: 0 16px;
}

.footer__social-icon .fa-twitter {
  padding: 0 10px;
}

.footer__social-icon .fa-linkedin {
  padding: 0 12px;
}

.about-activebox {
  max-width: 328px;
  text-align: center;
  margin: 0 15px;
}

@media (max-width: 640px) {
  .about-activebox {
    margin-top: 35px;
  }
}
.about-activebox__title {
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 21px;
}

@media (max-width: 640px) {
  .about-activebox__title {
    padding-bottom: 11px;
  }
}
.about-activebox__text {
  color: #ffffff50;
}

.copyright {
  width: 100%;
  background-color: #313454;
}

.copyright-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.copyright__info {
  margin-top: 29px;
  color: #808080;
}

@media (max-width: 410px) {
  .copyright__info {
    margin-top: 14px;
    font-size: 12px;
  }
}
.copyright__creator {
  color: #808080;
  margin-bottom: 29px;
}

@media (max-width: 410px) {
  .copyright__creator {
    font-size: 12px;
    margin-bottom: 14px;
  }
}
.copyright__heart {
  font-family: "Webdings";
  color: #e84545;
}

.copyright__creator-ownpage {
  color: #ffffff;
  font-family: "Raleway";
  font-style: normal;
}

.copyright__creator-ownpage:hover {
  transition-property: font-style;
  font-style: italic;
}