.download__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.download__title {
  color: #2d3033;
  font-size: 28px;
  font-weight: 300;
  line-height: 21px;
}
.download__subtitle {
  color: #2d3033;
  font-weight: 700;
  margin: 16px auto;
}

.download__button {
  width: 280px;
  margin: 24px auto;
}
