.masthead {
  min-height: 100vh;
  background: url('/img/Masthead/MastheadBG.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.header {
  width: 100%;
}
.header__container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff30;
  position: relative;
  z-index: 2;
}
@media(max-width:767px){
  .header__container{
    justify-content: center;
    flex-direction: column;
  }
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__img {
  padding: 38px 0;
}
@media (max-width: 514px) {
  .navigation {
    display: none;
  }
}
.navigation__menu {
  margin: 0 -15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 45px 0;
}
@media(max-width:767px){
  .navigation__menu{
    align-self: center;
    justify-content: space-between;
    padding: 15px 0;
  }
}

.navigation__menu-item {
  list-style: none;
  margin: 0 15px;
  padding: 0 15px;
}
@media (max-width: 868px) {
  .navigation__menu-item {
    padding: 0 5px;
  }
}


.navigation__menu-link {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 13px;
  font-style: normal;
  opacity: 0.75;
  color: #ffffff;
  text-align: left;
  text-transform: uppercase;
  transition: linear 1s;
}
.navigation__menu-link:hover {
  opacity: 1;
}

.masthead-content {
  align-self: center;
  justify-content: center;
  margin: auto;
}
.masthead__title {
  color: #ffffff;
  text-transform: uppercase;
  max-width: 861px;
  text-align: center;
  margin: 0 auto;
}
.masthead__subtitle {
  max-width: 912px;
  color: #ffffff;
  text-align: center;
  margin: 40px auto;
}

.masthead__button {
  max-width: 200px;
  margin: 37px auto;
}
@media (max-width:410px){
  .masthead__button {
    max-width: 90%;
  }
}
.masthead__button:hover {
  animation: blink 2s 0.5s infinite alternate;
}
@keyframes blink {
  from {
    background-color: #e84545;
    color: #ffffff;
  }
  to {
    background-color: #ffffff;
    color: #e84545;
  }
}
// Burger-menu
