.team {
  width: 100%;
}
.staff__table {
  display: flex;
  flex-direction: row;
  // margin: 0 -15px;
  padding-top: 100px;
  justify-content: space-around;
  flex-wrap: nowrap;
}
@media (max-width: 1170px) {
  .staff__table {
    display: none;
  }
  .staff__slider {
    display: block;
  }
}

.staff__card {
  margin: 0 15px;
}
.staff__picture {
  width: 270px;
  // height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.staff__picture-image {
  display: block;
  width: 100%;
}
.staff__information {
  text-align: left;
  max-width: 265px;
}
@media (max-width: 1170px) {
  .staff__information {
    text-align: center;
  }
}
.staff__name {
  color: #2d3033;
  padding: 30px 0 16px;
}
.staff__position {
  text-transform: uppercase;
  color: #e84545;
  padding-bottom: 29px;
}
.staff__about {
  color: #6c7279;
}

.staff__social-icons {
  margin-top: 31px;
  padding-inline-start: 0px;
  padding-bottom: 101px;
}
@media (max-width: 1170px) {
  .staff__social-icons {
    padding-inline-start: 60px;
  }
}
.staff__social-icons-item {
  width: 40px;
  height: 40px;
  border: 1px solid #e8ecee;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  // justify-content: center;
  margin: 0 4px;
}

.staff__social-icon {
  color: lightgrey;
}
.staff__social-icon:hover {
  transition-property: color;
  color: grey;
  transform: scale(1.2);
}
.staff__social-icon:visited {
  transition-property: color;
  columns: #000000;
}
.staff__social-icon .fa-facebook-f {
  padding: 0 16px;
}
.staff__social-icon .fa-twitter {
  padding: 0 10px;
}
.staff__social-icon .fa-linkedin {
  padding: 0 12px;
}
.staff__slider {
  position: relative;
  padding-top: 100px;
}
@media (min-width: 1171px) {
  .staff__slider {
    display: none;
  }
}
.slick-list {
  overflow: hidden;
}
.slick-track {
  display: flex;
}

.staff__slider-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.staff__slider .slick-dots li {
  list-style: none;
  margin: 0 8px;
}
.staff__slider .slick-dots {
  display: flex;
  position: absolute;
  top: 95px;
  left: calc(50% - 50px);
}
.staff__slider .slick-dots button {
  font-size: 0px;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #000000;
  opacity: 0.5;
}
.staff__slider .slick-dots button:focus {
  opacity: 1;
}
